{% extends "layout.twig" %}

{% block breadcrumbs %}
    {% set breadcrumbsList = [{url: url({controller: 'documents', action: 'create'}, 'admin'), label: 'Tworzenie dokumentu'}] %}

    {% for breadcrumb in breadcrumbs %}
    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'documents', id: breadcrumb.did}, 'admin', true), label: breadcrumb.title}]) %}
    {% endfor %}


    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'documents'}, 'admin', true), label: 'Dokumenty'}]) %}

    {{ cms.breadcrumbs(breadcrumbsList) }}
{% endblock %}

{% block helpbox %}
    {% include 'documents/_helpBox.twig' %}   
{% endblock %}

{% block content %}                   

<div class="right-side">
    <div class="content">
        <h1>Tworzenie dokumentu</h1>
        
        {{ cmsForm|raw }}

        <script type="text/javascript">
        // <[[!CDATA
            $(document).ready(function(){

                $('.tabs').tabs();  

                $('.ui-tabs-panel').each(function () {
                        var id = $(this).has('.error').attr('id');
                        var count = $(this).find('.error').size();
                        $('a[href="#'+id+'"]').append(' <em>('+ count +')</em>');
                });

            });
        // ]]>
        </script>
    </div>
</div>          
{% endblock %}