{% extends "layout.twig" %}

{% block breadcrumbs %}
    {% set breadcrumbsList = [{url: url({controller: 'news', action: 'edit', id: news.nid}, 'admin'), label: 'Edycja aktualności "'~ news.translation.title ~'"'}] %}
    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'news'}, 'admin', true), label: 'Biuletyn'}]) %}
    {{ cms.breadcrumbs(breadcrumbsList) }}
{% endblock %}
    
{% block helpbox %}
    {% include 'news/_helpBox.twig' %}
{% endblock %}

{% block content %}                   

<div class="right-side">
    <div class="content">
        <h1>Edycja aktualności "{{ news.translation.title }}": </h1>
        {{ cmsForm|raw }}

        <script type="text/javascript">
        // <[[!CDATA
            $(document).ready(function(){

                $('.tabs').tabs();  

                $('.ui-tabs-panel').each(function () {
                        var id = $(this).has('.error').attr('id');
                        var count = $(this).find('.error').size();
                        $('a[href="#'+id+'"]').append(' <em>('+ count +')</em>');
                });

            });
        // ]]>
        </script>
    </div>
</div>

{% endblock %}