<div class="element">
  <label for="{{ name }}">{{ label }} {% if required %}<em>*</em>{% endif %}</label>
  <div class="field">
    {{ content|raw }}
  </div>
  <p class="description">{{ description }}</p>
</div>