{% extends "layout.twig" %}

{% block breadcrumbs %}
    {% set breadcrumbsList = [{url: url({controller: 'permissions', action: 'edit', id: permission.pid}, 'admin'), label: 'Edytowanie grupy'}] %}

    {% for breadcrumb in breadcrumbs %}
    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'permissions', id: breadcrumb.pid}, 'admin', true), label: breadcrumb.title}]) %}
    {% endfor %}

    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'permissions'}, 'admin', true), label: 'Uprawnienia'}]) %}

    {{ cms.breadcrumbs(breadcrumbsList) }}
{% endblock %}
    
{% block helpbox %}
    {% include 'permissions/_helpBox.twig' %}
{% endblock %}

{% block content %}                   

<div class="right-side">
    <div class="content">
        <h1>Edytowanie uprawnienia: </h1>
        <form class="form" action="" method="post">
            <div class="tabs">
                <ul>      
                    <li><a href="#tab_1">Podstawowe dane</a></li>    
                    <li><a href="#tab_2">Uprawnienia Grup</a></li>
                    <li><a href="#tab_3">Uprawnienia Użytkowników</a></li>
                </ul>

                <div id="tab_1">{{ permissionsForm|raw }}</div>
                <div id="tab_2">{{ permissionsGroupsForm|raw }}</div>
                <div id="tab_3">{{ permissionsUsersForm|raw }}</div>
            </div>

            <div class="form">
                <fieldset>   
                    <div class="buttons" style="margin: 0 5px 0 0;">
                        <button type="submit" name="save" helper="">Zapisz</button>
                    </div>
                </fieldset>
            </div> 
        </form>

        <script type="text/javascript">
        // <[[!CDATA
            $(document).ready(function(){

                $('.tabs').tabs();  

                $('.ui-tabs-panel').each(function () {
                        var id = $(this).has('.error').attr('id');
                        var count = $(this).find('.error').size();
                        $('a[href="#'+id+'"]').append(' <em>('+ count +')</em>');
                });

            });
        // ]]>
        </script>
    </div>
</div>

{% endblock %}