<div class="message {% if chatMessage.sender_id == identity.uid %}sender{% endif %}">
    <span class="from">{% if chatMessage.sender_id == identity.uid %}{{ chatMessage.sender_name }}{% else %}{{ chatMessage.sender_name }}{% endif %}: <span class="date">{{ chatMessage.sent_at }}</span></span>
    <span class="message">{{ chatMessage.message|raw }}</span>
</div>