<div class="help_box_start"></div>
<div class="help_box">
    <h2 style="padding-top: 0;">Akcje</h2>
    <ul>
        <li>
            <a href="{{ url({controller: 'settings', action: 'index'}, 'admin', true) }}" style="font-weight:bold;"><img src="{{ baseUrl }}/images/admin/back_small.png" alt="Powrót" /> Powrót</a>
        </li>
    </ul>
</div>
<div class="help_box_end"></div>  